FLASK_DEBUG=false

# PostgreSQL DSN (optional)
POSTGRES_DSN=

# External services credentials
SAMASZ_COMPANY=
SAMASZ_LOGIN=
SAMASZ_PASSWORD=
KRONE_LOGIN=
KRONE_PASSWORD=
KV_LOGIN=
KV_PASSWORD=
PARTS_LOGIN=
PARTS_PASSWORD=
